        body {
            background: #000;
            color: #fff;
            padding: 0;
            margin: 0;
            overflow: hidden;
            font-family: georgia;
            text-align: center;
            cursor: pointer;
        }

        h1 {}

        a {
            color: skyblue;
            text-decoration: none
        }

        canvas {
            pointer-events: none;
            z-index: 10;
            position: relative;
        }

        #d {
             position: absolute;              
            width: 100%;
            text-align: center;
            /* margin: 1em 0 -4.5em 0; */
            z-index: 1000;
            /* display: none; */
        }

        .bwrap {
            margin: 0.5em 0 0 0
        }

        button {
            font-family: georgia;
            border: 0;
            background: #000;
            color: #fff;
            padding: 0.2em 0.5em;
            cursor: pointer;
            border-radius: 3px;
        }

        button:hover {
            background: #333
        }

        #buttons_cars button {
            color: #fa0
        }

        #car_info {
            text-align: center;
        }

        #car_name {
            font-size: 1em
        }

        #car_author {
            font-size: 1em
        }

        #oldie {
            background: rgb(50, 0, 0) !important;
            color: #fff !important;
            margin-top: 7em!important
        }

        #part_details {
            display: none;
            position: absolute;
            bottom: 50px;
            right: 10px;
            z-index: 12;
            /* background-color: rgba(0, 0, 0, 0.48); */
            /* border: 2px solid rgb(0, 0, 0); */
            -webkit-transition: opacity .5s ease-in-out;
            -moz-transition: opacity .5s ease-in-out;
            -ms-transition: opacity .5s ease-in-out;
            -o-transition: opacity .5s ease-in-out;
            transition: opacity .5s ease-in-out;
            font-size: 10px;
            box-shadow: 0 8px 6px -6px black;
        }

        #part_details .panel{
            margin-bottom: 0px !important;
        }

        #part_details .panel-body tbody tr:first-child td{
            font-weight: bold;
        }

        #part_details .btn-primary {
            background-color: transparent;
            border-color: transparent;
            cursor: pointer;
            color: #000000;
            
        }
        
        #part_details .btn:active{
            box-shadow: none;
        }
        
        .panel-heading {
            color: white;
        }

        .btn{
            font-size: 10px !important;
        }

        .btn-options{
            position: absolute !important;
            top: 0;
            left: 0;
            z-index: 11;
        }

        .btn-options .btn-group {
            float: none !important;
        }

        .selected-gap{
            background: #008000 !important;
            color: #ffffff !important;
        }

        .selected-flush{
            background: #ffff00 !important;
        }

        .table-bordered>tbody>tr>td{
            padding: 5px !important;
        }

        #proceed{
            position: fixed;
            bottom: 10px;
            right: 50px;
            z-index: 1000000;
        }

        .btn-group .btn-group+.btn-group {
            margin-left: -5px !important;
        }

        body {
                background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 20%, rgb(195, 195, 195) 60%); /* ff3.6+ */
                background: -webkit-gradient(radial, center center, 0px, center center, 60%, color-stop(20%, rgba(255,255,255,1)), color-stop(60%, rgb(195, 195, 195))); /* safari4+,chrome */
                background:-webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 20%, rgb(195, 195, 195) 60%); /* safari5.1+,chrome10+ */
                background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 20%, rgb(195, 195, 195) 60%); /* opera 11.10+ */
                background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 20%, rgb(195, 195, 195) 60%); /* ie10+ */
                background: radial-gradient(ellipse at center, rgba(255,255,255,1) 20%, rgb(195, 195, 195) 60%); /* w3c */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=1 ); /* ie6-9 */
        }

        .manual-entry{
            padding: 10px;
        }

        .btn-group .form-control{
            height: 30px;
            margin-top: 2px;
            width: 120px;
        }

        .panel-default>.panel-heading {
            background-color: rgb(62, 96, 154) !important;
            color: #ffffff !important;
            font-weight: bold;
        }

        .btn:active:focus, .btn:focus {
            outline: none !important;
        }

        .options span{
            position: relative;
            top: -3px;
            left: 2px;
        }